.Navbar{
    flex: 0.25;
    min-height: 100vh;
    width: 25vw;
    background-color: #330000;
    color: white;
    z-index: 100;
    position: fixed;
}
.header{
    padding-top: 10px; 
    display: grid;
    justify-content: center;
    align-items: center;
}
.image__header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.image{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: #4d0000;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image img{
    width: 118px ;
    height: 118px;
    border-radius: 50%;
}
.header__name{
    color: white !important;
    text-align: center;
    font-size: 23px;
    padding-top: 10px;
    font-weight: 500;
}
.social__media__links{
    padding-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.MuiSvgIcon-root
{
    margin: 3px;
    color: white;
    font-size: 20px ;
}
.social__media__icons{
    width: 39px;
    height: 39px;
    border-radius: 50%;
    margin: 1px;
    background-color: #4d0000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}
.social__media__icons:hover{
    background-color: #800000;
}
.Navbar__icons{
    padding: 20px;
}
.Navbar__icons a{
    text-decoration: none;
}
.Navbar__names{
    display: flex;
    object-fit: cover;
    margin: 20px;
    margin-top: 20px;
    color: white;
    cursor: pointer;
}
.Navbar__names > .MuiSvgIcon-root{
    color: white !important;
    font-size: 25px;
}
.Navbar__names span{
    margin-left: 5px;
    object-fit: cover;
    margin-top: 5px;
}
.copyright{
    text-align: center;
}
.copyright span{
    color: #ff0000;
}
@media screen and (max-width: 1000px) {
    .Navbar{
        transform: translateX(-300px);
        transition: transform 0.5s ease;
    } 
    .Navbar.active{
        /* display: block; */
        flex: 1;
        transform: translateX(0px);
        position: absolute;
        min-height: 100vh;
        width: 300px;
        background-color: #330000;
        color: white;
        z-index: 1000;
        position: fixed;
    }
    .menu-btn {
        background: url("../images/ham.png") no-repeat;
        background-size: 50px;
        background-position: center;
        width:50px;
        height: 50px;
        cursor: pointer;
        transition: 0.5s ease;
        position: absolute;
        right: 0;
        /* margin: 20px; */
        z-index: 1000;
    }

    .menu-btn.active {
        z-index: 999;
        background: url("../images/close-removebg-preview.png") no-repeat;
        background-size: 25px;
        background-position: center;
        cursor: pointer;
        transition: 0.5s ease;
        right: 0;
        /* margin: 20px; */
        z-index: 1000;
    }
    
}