.Skills{
    min-height: 100vh;
    background-color: white;
    min-width: 75vw;
    padding: 40px;
}
.Skills__heading{
    font-size: 30px;
    color: #1a0000;
    font-weight: 700;
}
.Skills hr{
    width: 60px;
    border: 2px solid #800000;
    margin-top: 10px;
    margin-bottom: 10px;
}
.Skills__holder{
    display: flex;
    justify-content: space-between;
    align-items: center;
    mix-blend-mode: multiply;
    flex-wrap: wrap;
}
.Skills__container{
    margin-top: 10px;
    margin-bottom: 10px;
    flex-basis: 48%;
}

.Skills__flexx{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.progress-bar-wrap{
    background-color: 	#FFC0CB;
}
.progress-bar{
    height: 10px;
    background-color: #5a0000;
    margin-top: 5px;
    /* width: 90%; */
}
@media screen and (max-width: 1000px) {
    .Skills{
        min-width: 100vw;
        width: 100vw;
    } 
    .Skills__container{
        margin-top: 10px;
        margin-bottom: 10px;
        flex-basis: 98%;
    }
}